* {
    font-family: 'Bebas Neue';
    text-transform: uppercase;

    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;

 }

header {
    background-image: url("multimedia/boxing_opt.jpg");
    background-position: start;
    background-size: cover;
width:100%;
height: 30vh;
}




.titulos{font-size:35px;
color:white;



}





.formulario {
    justify-content: start;
    display: flex;
    padding: 10px;
    border: solid black 3px;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 200px;
    align-items: flex-start;
}

ul {
    padding: 5px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;


    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin: 10px;
    padding: 2px;
    background: crimson;
}

.select {
    background: chocolate;
    font-size: 15px;
}

p {
    padding: 5px;
    margin: 2px;
    border: 2px solid black;
}

table.table2 {
    align-content: center;
    padding: 10px;
    font-size: 15px;
    border: 2px solid black;
    height: 20vh;
    width: 80vw;
}

tr {
    border: solid black 5px;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
}

td {
    border: solid 3px black;
    padding: 4px;
}

.textarea {
    width: 800px;
    height: 150px;
}